spring:
  application:
    name: bizu-portal
  
  datasource:
    url: jdbc:postgresql://localhost:5432/bizu_db
    username: bizu_user
    password: bizu_password
    driver-class-name: org.postgresql.Driver

  flyway:
    validate-on-migrate: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8080/auth/realms/bizu-portal}

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
